<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="../static/style.css" rel="stylesheet" />
        <script src="../static/js/main.js"></script>
        <title>password-generator</title>
        <div id="snackbar"></div>
    </head>
    <body>
        <div class="container">
            <div class="programm-name">password-generator</div>
                <div class="menu">
                    <div class="container-menu">
                        <button class="btn2 green-btn" onclick="copyAll()">Copy all!</button>
                        <div class="input-copy-wrapper">
                            <div class="pwds-scrollbar">
                                <input class="input-pwd" type="submit" value="THIS" />
                                <input class="input-pwd" type="submit" value="PAGE" />
                                <input class="input-pwd" type="submit" value="IN THE" />
                                <input class="input-pwd" type="submit" value="DEVELOPMENT" />
                                <input class="input-pwd" type="submit" value="THIS" />
                                <input class="input-pwd" type="submit" value="PAGE" />
                                <input class="input-pwd" type="submit" value="IN THE" />
                                <input class="input-pwd" type="submit" value="DEVELOPMENT" />
                            </div>
                        </div>
                        <button class="btn2 red-btn" onclick="goBack()">Go back!</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        const pwdElements = document.querySelectorAll('.input-pwd');

        pwdElements.forEach((pwdElement) => {
            pwdElement.addEventListener('click', () => {
                copyThis(pwdElement);
            })
        });
    </script>
</html> 