<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="../static/style.css" rel="stylesheet" />
    <script src="../static/js/main.js"></script>
    <title>password-generator</title>
</head>
<body>
    <div class="container">
        <div class="programm-name">password-generator</div>
            <div class="menu">
                <div class="container-menu">
                    <div class="container-input">
                        <input id="length" type="number" class="text-input" placeholder="Password length" min="8" />
                        <input id="quantity" type="number" class="text-input" placeholder="Number of passwords" min="1" />
                    </div>
                    <div class="container-checkbox">
                        <input type="checkbox" id="lowercase-letters" class="chk-btn" />
                        <label for="lowercase-letters">Lowercase letters</label>

                        <input type="checkbox" id="uppercase-letters" class="chk-btn" />
                        <label for="uppercase-letters">Uppercase letters</label>

                        <input type="checkbox" id="digits" class="chk-btn" />
                        <label for="digits">Digits</label>

                        <input type="checkbox" id="special-symbols" class="chk-btn" />
                        <label for="special-symbols">Special symbols</label>
                    </div>
                    <button class="btn green-btn" onclick="getRequest()">Generate!</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>